extends layout

block content
    - var totalPages=Math.ceil(number / 10);
    - page = parseInt(page)
    .container-fluid
        include includes/leftside
        .col-md-8.right-side
            +blogpostList(posts, 2)
            if page <= totalPages
                nav(aria-label='Page navigation example')
                    - var n = 1;
                    ul.pagination
                        if page === 1
                            li.page-item.disabled
                                a.page-link(href='/?page=#{parseInt(page)-1}') Previous
                        else
                            li.page-item
                                a.page-link(href='/?page=#{parseInt(page)-1}') Previous
                        while n <= totalPages
                            if n === page
                                li.page-item.active
                                    a.page-link(href='/?page=#{n}')=n++
                            else
                                li.page-item
                                    a.page-link(href='/?page=#{n}')=n++
                        if page === totalPages
                            li.page-item.disabled
                                a.page-link(href='/?page=#{parseInt(page)+1}') Next
                        else
                            li.page-item
                                a.page-link(href='/?page=#{parseInt(page)+1}') Next
            footer
                | © 2019 | Ujjwal Bhardwaj. All Rights Reserved.

