include ./mixins.jade

doctype html
html
  head
    title
      if title
        | #{title} | Ujjwal Bhardwaj
      else
        | Ujjwal Bhardwaj
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    if body == null
      meta(name="description", content="Ujjwal Bhardwaj is working as a freelance web developer alongside his studies. Ujjwal has created and is contributing to various open source projects.")
    else
      meta(name="description", content=body.substr(0, 250))

    meta(name="google-site-verification", content="6d_WpKSAG-KVXsYs3K9-PoPRZ_r5o8QfsoC8aeDapaI")

    meta(property="og:site_name" content="Ujjwal Bhardwaj's Blog")
    meta(property="og:type" content="website")
    if title == null
      meta(property="og:title" content="Ujjwal Bhardwaj's Blog")
    else
      meta(property="og:title" content=title)
    if body == null
      meta(property="og:description" content="Ujjwal Bhardwaj is working as a freelance web developer alongside his studies. Ujjwal has created and is contributing to various open source projects.")
    else
      meta(property="og:description" content=body.substr(0, 250))
    if slug == null
      meta(property="og:url" content="http://ujjwalbhardwaj.me/")
    else
      meta(property="og:url" content="http://ujjwalbhardwaj.me/post/" + slug)
    if title == null
      meta(property="og:image" content="http://ujjwalbhardwaj.me/images/logo2.png")
    else
      meta(property="og:image" content="http://bantar.tk/952/498/0cd/?txt=#{title}&fontSize=36")
    meta(property="article:publisher" content="https://www.facebook.com/imujjwal96")

    meta(name="twitter:card" content="summary_large_image")
    if title == null
      meta(property="twitter:title" content="Ujjwal Bhardwaj's Blog")
    else
      meta(property="twitter:title" content=title)
    if body == null
      meta(property="twitter:description" content="Ujjwal Bhardwaj is working as a freelance web developer alongside his studies. Ujjwal has created and is contributing to various open source projects.")
    else
      meta(property="twitter:description" content=body.substr(0, 250))
    if slug == null
      meta(property="twitter:url" content="http://ujjwalbhardwaj.me/")
    else
      meta(property="twitter:url" content="http://ujjwalbhardwaj.me/post/" + slug)
    if title == null
      meta(name="twitter:image" content="http://ujjwalbhardwaj.me/images/logo2.png")
    else
      meta(name="twitter:image" content="http://bantar.tk/900/471/0cd/?txt=#{title}&fontSize=36")
    meta(name="twitter:site" content="@imujjwal96")

    link(rel='author', href='https://plus.google.com/+UjjwalBhardwaj96')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/railscasts.min.css')


    script(type='application/ld+json').
      {
      "@context": "https://schema.org",
      "@type": "Website",
      "publisher": {
      "@type": "Organization",
      "name": "Ujjwal Bhardwaj&#x27;s Blog",
      "logo": "http://ujjwalbhardwaj.me/images/favicon.png"
      },
      "url": "http://ujjwalbhardwaj.me/",
      "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "http://ujjwalbhardwaj.me"
      },
      "description": "Ujjwal Bhardwaj is working as a freelance web developer alongside his studies. Ujjwal has created and is contributing to various open source projects."
      }

  body
    #fb-root
    script.
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=353865691635127";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    include includes/header
    block content
    include includes/footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://www.atlasestateagents.co.uk/javascript/tether.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/script.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    script.
      hljs.initHighlightingOnLoad();
    script.
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-87329450-1', 'auto');
      ga('send', 'pageview');
