extends layout

block content
    - var totalPages=Math.ceil(number / 10);
    - page = parseInt(page)
    .container-fluid
        include includes/leftside
        .col-md-8.right-side
            +blogpostList(posts, 2)
            if page <= totalPages
                nav(aria-label='Page navigation example')
                    - var n = 1;
                    ul.pagination
                        if page === 1
                            li.page-item.disabled
                                a.page-link(href='?page=#{parseInt(page)-1}') Previous
                        else
                            li.page-item
                                a.page-link(href='?page=#{parseInt(page)-1}') Previous
                        while n <= totalPages
                            if n === page
                                li.page-item.active
                                    a.page-link(href='?page=#{n}')=n++
                            else
                                li.page-item
                                    a.page-link(href='?page=#{n}')=n++
                        if page === totalPages
                            li.page-item.disabled
                                a.page-link(href='?page=#{parseInt(page)+1}') Next
                        else
                            li.page-item
                                a.page-link(href='?page=#{parseInt(page)+1}') Next
            footer.hidden-md-down
                | © 2019 | Ujjwal Bhardwaj. All Rights Reserved. (Source&nbsp;
                a(href="https://github.com/imujjwal96/personal-blog" target="_blank") code
                | )
            footer.bg-inverse.hidden-md-up.navbar-dark
                .container.text-center
                    .row
                        img(src='/images/aws_batches.png', title='Ujjwal Bhardwaj', style="width: 70%")
                        hr
                    .row
                        p.socials
                            a(href='mail:ujjwalb1996@gmail.com', target='_blank')
                                i.fa.fa-envelope
                            a(href='https://www.facebook.com/imujjwal96', target='_blank')
                                i.fa.fa-facebook
                            a(href='https://in.linkedin.com/in/ujjwal-bhardwaj-b6b46a80', target='_blank')
                                i.fa.fa-linkedin
                            a(href='https://www.instagram.com/ujjwalbhardwaj96', target='_blank')
                                i.fa.fa-instagram
                            a(href='https://github.com/imujjwal96', target='_blank')
                                i.fa.fa-github
                            a(href='https://stackoverflow.com/users/4592183/ujjwal-bhardwaj', target='_blank')
                                i.fa.fa-stack-overflow
                        hr
                        .footer-copyright(style="color: white;")
                            | © 2019 | Ujjwal Bhardwaj. All Rights Reserved. (Source&nbsp;
                            a(href="https://github.com/imujjwal96/personal-blog" target="_blank") code
                            | )
